.dot {
  height: 5px;
  width: 5px;
  background-color: #000;
  border-radius: 50%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 5px;
  vertical-align: middle;
  display: inline-block;
}

li {
  display: inline;
}

.graded {
  background-color: #555555;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  background-size: 400% 400%;

  -webkit-animation: TimerAnimation 10s ease infinite;
  -moz-animation: TimerAnimation 10s ease infinite;
  animation: TimerAnimation 10s ease infinite;
}

.timer {
  background: linear-gradient(270deg,#ffffff, #fc1f03);
  background-size: 400% 400%;

  -webkit-animation: TimerAnimation 10s ease infinite;
  -moz-animation: TimerAnimation 10s ease infinite;
  animation: TimerAnimation 10s ease infinite;
}

@-webkit-keyframes TimerAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes TimerAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes TimerAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.tickers {
  color: black;
  /* background-color: white; */
  text-decoration: none;
}

.down {
  color: red;
}

.up {
  color: green;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
