.main {
    background-color: black !important;
    width: 100vh;
    height: 100vh;
    background-size: cover;
}

.mainrow {
    text-align: center;
    vertical-align: middle;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.logo {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.maincol {
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    /* background-image: url('assets/kotkis25.jpg'); */
    /* background: url('assets/kotkis25.jpg') center center no-repeat; */
}

body {
    /* background: url('assets/kotkis25.jpg') center center no-repeat; */
}
